 template peer-session BGP-SDA
  password {{ config.global.bgp.password }}
  timers {{ config.global.bgp.timers.keepalive }} {{ config.global.bgp.timers.holdtime }}
  fall-over bfd
 exit-peer-session
