{%- import 'macros.j2' as macros %}
{%- set local_config = config.fexit[local] %}
! SDA {{ local }}
! {{ local_config.hostname }}

hostname {{ local_config.hostname }}
ip domain name {{ config.global.domain }}
snmp-server location {{ local_config.snmp_location }}

! Linknet to FUSION1
interface {{ local_config.interfaces.fusion1.port }}
 description lnk:{{ config.fusion.fusion1.hostname }}:{{ config.fusion.fusion1.interfaces[local].port }}
{% include 'includes/l2_interface.j2' %}
 switchport trunk allowed vlan {{ local_config.interfaces.fusion1.allowed }}
 switchport trunk native vlan {{ local_config.interfaces.fusion1.native }}
!
vlan {{ config.fusion.fusion1.interfaces[local].tag }}
 name lnk:{{ config.fusion.fusion1.hostname }}_mgmt
!
interface Vlan{{ config.fusion.fusion1.interfaces[local].tag }}
 description lnk:{{ config.fusion.fusion1.hostname }}:{{ config.fusion.fusion1.interfaces[local].port }}.{{ config.fusion.fusion1.interfaces[local].tag }}:{{ config.fusion.fusion1.interfaces[local].vrf }}
 {{ macros.get_last_ip(config.fusion.fusion1.interfaces[local].linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Linknet to FUSION2
interface {{ local_config.interfaces.fusion2.port }}
 description lnk:{{ config.fusion.fusion2.hostname }}:{{ config.fusion.fusion2.interfaces[local].port }}
{% include 'includes/l2_interface.j2' %}
 switchport trunk allowed vlan {{ local_config.interfaces.fusion2.allowed }}
 switchport trunk native vlan {{ local_config.interfaces.fusion2.native }}
!
vlan {{ config.fusion.fusion2.interfaces[local].tag }}
 name lnk:{{ config.fusion.fusion2.hostname }}_mgmt
!
interface Vlan{{ config.fusion.fusion2.interfaces[local].tag }}
 description lnk:{{ config.fusion.fusion2.hostname }}:{{ config.fusion.fusion2.interfaces[local].port }}.{{ config.fusion.fusion2.interfaces[local].tag }}:{{ config.fusion.fusion2.interfaces[local].vrf }}
 {{ macros.get_last_ip(config.fusion.fusion2.interfaces[local].linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Linknet between FEXIT1 and FEXIT2
interface {{ local_config.interfaces.fexit.port }}
 description lnk:{{ config.fexit[peer].hostname }}:{{ config.fexit[peer].interfaces.fexit.port }}
 no switchport
 {%- if local.endswith('1') or local.endswith('a') %}
 {{ macros.get_first_ip(local_config.interfaces.fexit.linknet) }}
 {%- else %}
 {{ macros.get_last_ip(local_config.interfaces.fexit.linknet) }}
 {%- endif %}
{% include 'includes/l3_interface.j2' %}
 ip router isis 
 isis network point-to-point 
!

! Linknet to FS1a
interface {{ local_config.interfaces.fs1a.port }}
 description lnk:{{ config.fs.fs1a.hostname }}:{{ config.fs.fs1a.interfaces[local].port }}
 no switchport
 {{ macros.get_first_ip(local_config.interfaces.fs1a.linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Linknet to FS1b
interface {{ local_config.interfaces.fs1b.port }}
 description lnk:{{ config.fs.fs1b.hostname }}:{{ config.fs.fs1b.interfaces[local].port }}
 no switchport
 {{ macros.get_first_ip(local_config.interfaces.fs1b.linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Loopback
interface Lo0
 ip address {{ local_config.ip }} 255.255.255.255
 no shutdown
 ip pim sparse-mode
 ip router isis 
!

!
{% include 'includes/common.j2' %}
!
{% include 'includes/isis_common.j2' %}
!
router bgp {{ config.fexit.asn }}
{% include 'includes/bgp_common.j2' %}
 !
{% include 'includes/bgp_template.j2' %}
 !
 address-family ipv4
  maximum-paths {{ config.global.bgp_paths }}
  network {{ local_config.ip }} mask 255.255.255.255
  network {{ local_config.interfaces.fexit.linknet | network }} mask {{ local_config.interfaces.fexit.linknet | netmask }}
  !
  ! FUSION1
  {{ macros.bgp_neighbor_first_ip(
    config.fusion.fusion1.interfaces[local].linknet,
    config.fusion.asn,
    "eBGP to FUSION1:" + config.fusion.fusion1.hostname + ":" + config.fusion.fusion1.interfaces[local].port + ":" + config.fusion.fusion1.interfaces[local].vrf,
    "Vlan" + config.fusion.fusion1.interfaces[local].tag,
    prefix_list=false
  )}}
  !
  ! FUSION2
  {{ macros.bgp_neighbor_first_ip(
    config.fusion.fusion2.interfaces[local].linknet,
    config.fusion.asn,
    "eBGP to FUSION2:" + config.fusion.fusion2.hostname + ":" + config.fusion.fusion2.interfaces[local].port + ":" + config.fusion.fusion2.interfaces[local].vrf,
    "Vlan" + config.fusion.fusion2.interfaces[local].tag,
    prefix_list=false
  )}}
  !
  ! FS1a
  {{ macros.bgp_neighbor_last_ip(
    local_config.interfaces.fs1a.linknet,
    config.fs.asn,
    "eBGP to FS1a:" + config.fs.fs1a.hostname + ":" + config.fs.fs1a.interfaces[local].port,
    local_config.interfaces.fs1a.port,
    prefix_list=false
  )}}
  !
  ! FS1b
  {{ macros.bgp_neighbor_last_ip(
    local_config.interfaces.fs1b.linknet,
    config.fs.asn,
    "eBGP to FS1b:" + config.fs.fs1b.hostname + ":" + config.fs.fs1b.interfaces[local].port,
    local_config.interfaces.fs1b.port,
    prefix_list=false
  )}}
 !
 exit-address-family
!
