{%- import 'macros.j2' as macros %}
{%- set local_config = config.fexit[local] %}
! SDA {{ local }}
! {{ local_config.hostname }}

hostname {{ local_config.hostname }}
ip domain name {{ config.global.domain }}
snmp-server location {{ local_config.snmp_location }}
!
{% include 'includes/vtp.j2' %}
!

{%- if 'tcn1' in local_config.interfaces %}
! Linknet to TCN1
interface {{ local_config.interfaces.tcn1.port }}
description link; {{ config.tcn.tcn1.hostname }}; {{ config.tcn.tcn1.interfaces[local].port }}; {{
config.tcn.tcn1.interfaces[local].vrf | default('GRT') }}
no switchport
{{ macros.get_interface_ip_first(
local_config.interfaces.tcn1.vrf | default(none),
local_config.interfaces.tcn1.linknet4,
local_config.interfaces.tcn1.linknet6 | default(none)
)}}
!
{%- endif %}

{%- if 'tcn2' in local_config.interfaces %}
! Linknet to TCN2
interface {{ local_config.interfaces.tcn2.port }}
description link; {{ config.tcn.tcn2.hostname }}; {{ config.tcn.tcn2.interfaces[local].port }}; {{
config.tcn.tcn2.interfaces[local].vrf | default('GRT') }}
no switchport
{{ macros.get_interface_ip_first(
local_config.interfaces.tcn2.vrf | default(none),
local_config.interfaces.tcn2.linknet4,
local_config.interfaces.tcn2.linknet6 | default(none)
)}}
!
{%- endif %}

! Linknet to FUSION1
interface {{ local_config.interfaces.fusion1.port }}
 description link; {{ config.fusion.fusion1.hostname }}; {{ config.fusion.fusion1.interfaces[local].port }}
{% include 'includes/l2_interface.j2' %}
 switchport trunk native vlan {{ local_config.interfaces.fusion1.native }}
!
vlan {{ config.fusion.fusion1.interfaces[local].tag }}
 name link_{{ config.fusion.fusion1.hostname }}_{{ config.fusion.fusion1.interfaces[local].vrf | default('GRT') }}
!
interface Vlan{{ config.fusion.fusion1.interfaces[local].tag }}
 description link; {{ config.fusion.fusion1.hostname }}; {{ config.fusion.fusion1.interfaces[local].port }}.{{ config.fusion.fusion1.interfaces[local].tag }}; {{ config.fusion.fusion1.interfaces[local].vrf | default('GRT') }}
 {{ macros.get_interface_ip_last(
  local_config.interfaces.fusion1.vrf | default(none),
  config.fusion.fusion1.interfaces[local].linknet4,
  config.fusion.fusion1.interfaces[local].linknet6 | default(none)
 )}}
!

! Linknet to FUSION2
interface {{ local_config.interfaces.fusion2.port }}
 description link; {{ config.fusion.fusion2.hostname }}; {{ config.fusion.fusion2.interfaces[local].port }}
{% include 'includes/l2_interface.j2' %}
 switchport trunk native vlan {{ local_config.interfaces.fusion2.native }}
!
vlan {{ config.fusion.fusion2.interfaces[local].tag }}
 name link_{{ config.fusion.fusion2.hostname }}_{{ config.fusion.fusion2.interfaces[local].vrf | default('GRT') }}
!
interface Vlan{{ config.fusion.fusion2.interfaces[local].tag }}
 description link; {{ config.fusion.fusion2.hostname }}; {{ config.fusion.fusion2.interfaces[local].port }}.{{ config.fusion.fusion2.interfaces[local].tag }}; {{ config.fusion.fusion2.interfaces[local].vrf | default('GRT') }}
 {{ macros.get_interface_ip_last(
  local_config.interfaces.fusion2.vrf | default(none),
  config.fusion.fusion2.interfaces[local].linknet4,
  config.fusion.fusion2.interfaces[local].linknet6 | default(none)
 )}}
!

! Linknets between FEXIT1 and FEXIT2
{%- for link in local_config.interfaces.fexit %}
interface {{ local_config.interfaces.fexit[link].port[local] }}
 description link; {{ config.fexit[peer].hostname }}; {{ config.fexit[peer].interfaces.fexit[link].port[peer] }}; {{ config.fexit[peer].interfaces.fexit.vrf | default('GRT') }}
 no switchport
 {%- if local.endswith('1') or local.endswith('a') %}
 {{ macros.get_interface_ip_first(
  local_config.interfaces.fexit.vrf | default(none),
  local_config.interfaces.fexit[link].linknet4,
  local_config.interfaces.fexit[link].linknet6 | default(none)
 )}}
 {%- else %}
 {{ macros.get_interface_ip_last(
  local_config.interfaces.fexit.vrf | default(none),
  local_config.interfaces.fexit[link].linknet4,
  local_config.interfaces.fexit[link].linknet6 | default(none)
 )}}
 {%- endif %}
 ip router isis 
 isis network point-to-point 
!
{%- endfor %}

! Linknet to FS1a
interface {{ local_config.interfaces.fs1a.port }}
 description link; {{ config.fs1.fs1a.hostname }}; {{ config.fs1.fs1a.interfaces[local].port }}; {{ config.fs1.fs1a.interfaces[local].vrf | default('GRT') }}
 no switchport
 {{ macros.get_interface_ip_first(
  local_config.interfaces.fs1a.vrf | default(none),
  local_config.interfaces.fs1a.linknet4,
  local_config.interfaces.fs1a.linknet6 | default(none)
 )}}
!

! Linknet to FS1b
interface {{ local_config.interfaces.fs1b.port }}
 description link; {{ config.fs1.fs1b.hostname }}; {{ config.fs1.fs1b.interfaces[local].port }}; {{ config.fs1.fs1b.interfaces[local].vrf | default('GRT') }}
 no switchport
 {{ macros.get_interface_ip_first(
  local_config.interfaces.fs1b.vrf | default(none),
  local_config.interfaces.fs1b.linknet4,
  local_config.interfaces.fs1b.linknet6 | default(none)
 )}}
!

! Loopback
interface Lo0
 ip address {{ local_config.ipv4 }} 255.255.255.255
 {%- if local_config.ipv6 is defined %}
 ipv6 address {{ local_config.ipv6 }}/128
 {%- endif %}
 no shutdown
 ip pim sparse-mode
 ip router isis 
!

!
{% include 'includes/common.j2' %}
!
{% include 'includes/isis_common.j2' %}
!
router bgp {{ config.fexit.asn }}
{% include 'includes/bgp_common.j2' %}
 !
{% include 'includes/bgp_template.j2' %}
 !
 address-family ipv4
  maximum-paths {{ config.global.bgp_paths }}
  network {{ local_config.ipv4 }} mask 255.255.255.255
  {%- for link in local_config.interfaces.fexit %}
  network {{ local_config.interfaces.fexit[link].linknet4 | network }} mask {{ local_config.interfaces.fexit[link].linknet4 | netmask }}
  {%- endfor %}
 exit-address-family
 {%- if local_config.ipv6 is defined %}
 address-family ipv6
  maximum-paths {{ config.global.bgp_paths }}
  network {{ local_config.ipv6 }}/128
  {%- for link in local_config.interfaces.fexit %}
  {%- if local_config.interfaces.fexit[link].linknet6 is defined %}
  network {{ local_config.interfaces.fexit[link].linknet6 }}
  {%- endif %}
  {%- endfor %}
 exit-address-family
 {%- endif %}
 !
{%- if 'tcn1' in local_config.interfaces %}
 ! TCN1
 {{ macros.bgp_neighbor_last_ip(
   local_config.interfaces.tcn1.linknet4,
   local_config.interfaces.tcn1.linknet6 | default(none),
   local_config.interfaces.tcn1.vrf | default(none),
   config.tcn.tcn1.asn,
   local_config.interfaces.tcn1.port,
   deny_default | default(true),
   "eBGP to TCN1; " + config.tcn.tcn1.hostname + "; " + config.tcn.tcn1.interfaces[local].port + "; " + config.tcn.tcn1.interfaces[local].vrf | default('GRT'),
   config.global.bgp_paths
 )}}
{%- endif %}
 !
{%- if 'tcn2' in local_config.interfaces %}
 ! TCN2
 {{ macros.bgp_neighbor_last_ip(
   local_config.interfaces.tcn2.linknet4,
   local_config.interfaces.tcn2.linknet6 | default(none),
   local_config.interfaces.tcn2.vrf | default(none),
   config.tcn.tcn2.asn,
   local_config.interfaces.tcn2.port,
   deny_default | default(true),
   "eBGP to TCN2; " + config.tcn.tcn2.hostname + "; " + config.tcn.tcn2.interfaces[local].port + "; " + config.tcn.tcn2.interfaces[local].vrf | default('GRT'),
   config.global.bgp_paths
 )}}
{%- endif %}
 !
 ! FUSION1
 {{ macros.bgp_neighbor_first_ip(
   config.fusion.fusion1.interfaces[local].linknet4,
   config.fusion.fusion1.interfaces[local].linknet6 | default(none),
   local_config.interfaces.fusion1.vrf | default(none),
   config.fusion.asn,
   "Vlan" + config.fusion.fusion1.interfaces[local].tag,
   deny_default | default(false),
   "eBGP to FUSION1; " + config.fusion.fusion1.hostname + "; " + config.fusion.fusion1.interfaces[local].port + "." + config.fusion.fusion1.interfaces[local].tag + "; " + config.fusion.fusion1.interfaces[local].vrf | default('GRT'),
   config.global.bgp_paths
 )}}
 !
 ! FUSION2
 {{ macros.bgp_neighbor_first_ip(
   config.fusion.fusion2.interfaces[local].linknet4,
   config.fusion.fusion2.interfaces[local].linknet6 | default(none),
   local_config.interfaces.fusion2.vrf | default(none),
   config.fusion.asn,
   "Vlan" + config.fusion.fusion2.interfaces[local].tag,
   deny_default | default(false),
   "eBGP to FUSION2; " + config.fusion.fusion2.hostname + "; " + config.fusion.fusion2.interfaces[local].port + "." + config.fusion.fusion2.interfaces[local].tag + "; " + config.fusion.fusion2.interfaces[local].vrf | default('GRT'),
   config.global.bgp_paths
 )}}
 !
 ! FS1a
 {{ macros.bgp_neighbor_first_ip(
   local_config.interfaces.fs1a.linknet4,
   local_config.interfaces.fs1a.linknet6 | default(none),
   local_config.interfaces.fs1a.vrf | default(none),
   config.fs1.asn,
   local_config.interfaces.fs1a.port,
   deny_default | default(false),
   "eBGP to FS1a; " + config.fs1.fs1a.hostname + "; " + config.fs1.fs1a.interfaces[local].port + "; " + config.fs1.fs1a.interfaces[local].vrf | default('GRT'),
   config.global.bgp_paths
 )}}
 !
 ! FS1b
 {{ macros.bgp_neighbor_first_ip(
   local_config.interfaces.fs1b.linknet4,
   local_config.interfaces.fs1b.linknet6 | default(none),
   local_config.interfaces.fs1b.vrf | default(none),
   config.fs1.asn,
   local_config.interfaces.fs1b.port,
   deny_default | default(false),
   "eBGP to FS1b; " + config.fs1.fs1b.hostname + "; " + config.fs1.fs1b.interfaces[local].port + "; " + config.fs1.fs1b.interfaces[local].vrf | default('GRT'),
   config.global.bgp_paths
 )}}
 !
!
