{%- import 'macros.j2' as macros %}
{%- set local_config = config.fs[local] %}
! SDA {{ local }}
! {{ local_config.hostname }}

hostname {{ local_config.hostname }}
ip domain name {{ config.global.domain }}
snmp-server location {{ local_config.snmp_location }}
!
{% include 'includes/vtp.j2' %}
!

! Linknet to FEXIT1
interface {{ local_config.interfaces.fexit1.port }}
 description link; {{ config.fexit.fexit1.hostname }}; {{ config.fexit.fexit1.interfaces[local].port }}
 no switchport
 {{ macros.get_last_ip(config.fexit.fexit1.interfaces[local].linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Linknet to FEXIT2
interface {{ local_config.interfaces.fexit2.port }}
 description link; {{ config.fexit.fexit2.hostname }}; {{ config.fexit.fexit2.interfaces[local].port }}
 no switchport
 {{ macros.get_last_ip(config.fexit.fexit2.interfaces[local].linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Linknet between FS1a and FS1b
interface {{ local_config.interfaces.fs.port }}
 description link; {{ config.fs[peer].hostname }}; {{ config.fs[peer].interfaces.fs.port }}
 no switchport
 {%- if local.endswith('1') or local.endswith('a') %}
 {{ macros.get_first_ip(local_config.interfaces.fs.linknet) }}
 {%- else %}
 {{ macros.get_last_ip(local_config.interfaces.fs.linknet) }}
 {%- endif %}
{% include 'includes/l3_interface.j2' %}
 ip router isis 
 isis network point-to-point 
!

! Loopback
interface Lo0
 ip address {{ local_config.ip }} 255.255.255.255
 no shutdown
 ip pim sparse-mode
 ip router isis 
!

!
{% include 'includes/common.j2' %}
!
router bgp {{ config.fs.asn }}
{% include 'includes/bgp_common.j2' %}
 !
{% include 'includes/bgp_template.j2' %}
 !
 address-family ipv4
  maximum-paths {{ config.global.bgp_paths }}
  redistribute connected
  redistribute isis level-1-2
  network {{ local_config.ip }} mask 255.255.255.255
  !
  ! FEXIT1
  {{ macros.bgp_neighbor_first_ip(
    config.fexit.fexit1.interfaces[local].linknet,
    config.fexit.asn,
    "eBGP to FEXIT1; " + config.fexit.fexit1.hostname + "; " + config.fexit.fexit1.interfaces[local].port,
    local_config.interfaces.fexit1.port,
    prefix_list=false
  )}}
  !
  ! FEXIT2
  {{ macros.bgp_neighbor_first_ip(
    config.fexit.fexit2.interfaces[local].linknet,
    config.fexit.asn,
    "eBGP to FEXIT2; " + config.fexit.fexit2.hostname + "; " + config.fexit.fexit2.interfaces[local].port,
    local_config.interfaces.fexit2.port,
    prefix_list=false
  )}}
 !
 exit-address-family
!
