{%- import 'macros.j2' as macros %}
{%- set local_config = config.fusion[local] %}
! SDA {{ local }}
! {{ local_config.hostname }}

! Linknet to TCN1
interface {{ local_config.interfaces.tcn1.port }}
 description lnk:{{ config.tcn.tcn1.hostname }}:{{ config.tcn.tcn1.interfaces[local].port }}
 no switchport
 vrf forwarding {{ local_config.interfaces.tcn1.vrf }}
 {{ macros.get_first_ip(local_config.interfaces.tcn1.linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Linknet to TCN2
interface {{ local_config.interfaces.tcn2.port }}
 description lnk:{{ config.tcn.tcn2.hostname }}:{{ config.tcn.tcn2.interfaces[local].port }}
 no switchport
 vrf forwarding {{ local_config.interfaces.tcn2.vrf }}
 {{ macros.get_first_ip(local_config.interfaces.tcn2.linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Linknet to FEXIT1
interface {{ local_config.interfaces.fexit1.port }}
 description lnk:{{ config.fexit.fexit1.hostname }}:{{ config.fexit.fexit1.interfaces[local].port }}
 no switchport
 no shutdown
 load-interval 30
!
interface {{ local_config.interfaces.fexit1.port }}.{{ local_config.interfaces.fexit1.tag }}
 description lnk:{{ config.fexit.fexit1.hostname }}:{{ config.fexit.fexit1.interfaces[local].port }}:Vlan{{ local_config.interfaces.fexit1.tag }}:GRT
 encapsulation dot1q {{ local_config.interfaces.fexit1.tag }}
 vrf forwarding {{ local_config.interfaces.fexit1.vrf }}
 {{ macros.get_first_ip(local_config.interfaces.fexit1.linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Linknet to FEXIT2
interface {{ local_config.interfaces.fexit2.port }}
 description lnk:{{ config.fexit.fexit2.hostname }}:{{ config.fexit.fexit2.interfaces[local].port }}
 no switchport
 no shutdown
 load-interval 30
!
interface {{ local_config.interfaces.fexit2.port }}.{{ local_config.interfaces.fexit2.tag }}
 description lnk:{{ config.fexit.fexit2.hostname }}:{{ config.fexit.fexit2.interfaces[local].port }}:Vlan{{ local_config.interfaces.fexit2.tag }}:GRT
 encapsulation dot1q {{ local_config.interfaces.fexit2.tag }}
 vrf forwarding {{ local_config.interfaces.fexit2.vrf }}
 {{ macros.get_first_ip(local_config.interfaces.fexit2.linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Deny default route ingress to FUSION
ip prefix-list deny-default-route seq 5 permit 0.0.0.0/0 ge 1
!
router bgp {{ config.fusion.asn }}
 !
{% include 'includes/bgp_template.j2' %}
 !
 ! TCN1
 address-family ipv4 vrf {{ local_config.interfaces.tcn1.vrf }}
  {{ macros.bgp_neighbor_last_ip(
    local_config.interfaces.tcn1.linknet,
    config.tcn.tcn1.asn,
    "eBGP to TCN1:" + config.tcn.tcn1.hostname + ":" + config.tcn.tcn1.interfaces[local].port + ":GRT",
    local_config.interfaces.tcn1.port,
    prefix_list=true
  )}}
 exit-address-family
 !
 ! TCN2
 address-family ipv4 vrf {{ local_config.interfaces.tcn2.vrf }}
  {{ macros.bgp_neighbor_last_ip(
    local_config.interfaces.tcn2.linknet,
    config.tcn.tcn2.asn,
    "eBGP to TCN2:" + config.tcn.tcn2.hostname + ":" + config.tcn.tcn2.interfaces[local].port + ":GRT",
    local_config.interfaces.tcn2.port,
    prefix_list=true
  )}}
 exit-address-family
 !
 ! FEXIT1
 address-family ipv4 vrf {{ local_config.interfaces.fexit1.vrf }}
  {{ macros.bgp_neighbor_last_ip(
    local_config.interfaces.fexit1.linknet,
    config.fexit.asn,
    "eBGP to FEXIT1:" + config.fexit.fexit1.hostname + ":" + config.fexit.fexit1.interfaces[local].port + ":Vlan" + local_config.interfaces.fexit1.tag + ":INFRA_VN",
    local_config.interfaces.fexit1.port + "." + local_config.interfaces.fexit1.tag,
    prefix_list=true
  )}}
 exit-address-family
 !
 ! FEXIT2
 address-family ipv4 vrf {{ local_config.interfaces.fexit2.vrf }}
  {{ macros.bgp_neighbor_last_ip(
    local_config.interfaces.fexit2.linknet,
    config.fexit.asn,
    "eBGP to FEXIT2:" + config.fexit.fexit2.hostname + ":" + config.fexit.fexit2.interfaces[local].port + ":Vlan" + local_config.interfaces.fexit2.tag + ":INFRA_VN",
    local_config.interfaces.fexit2.port + "." + local_config.interfaces.fexit2.tag,
    prefix_list=true
  )}}
 !
 exit-address-family
!
