{%- macro get_first_ip(ip_net) -%}
 ip address {{ ip_net | first_ip }} {{ ip_net | netmask }}
{%- endmacro -%}

{%- macro get_last_ip(ip_net) -%}
 ip address {{ ip_net | last_ip }} {{ ip_net | netmask }}
{%- endmacro -%}

{%- macro bgp_neighbor_first_ip(linknet, asn, description, update_source, prefix_list) -%}
 {{ bgp_neighbor(linknet, asn, description, update_source, prefix_list, linknet | first_ip ) }}
{%- endmacro -%}

{%- macro bgp_neighbor_last_ip(linknet, asn, description, update_source, prefix_list) -%}
 {{ bgp_neighbor(linknet, asn, description, update_source, prefix_list, linknet | last_ip ) }}
{%- endmacro -%}

{%- macro bgp_neighbor(linknet, asn, description, update_source, prefix_list, neighbor) -%}
  network {{ linknet | network }} mask {{ linknet | netmask }}
  !
  neighbor {{ neighbor }} remote-as {{ asn }}
  neighbor {{ neighbor }} inherit peer-session BGP-SDA
  neighbor {{ neighbor }} description "{{ description }}"
  neighbor {{ neighbor }} update-source {{ update_source }}
  {%- if prefix_list is defined %}
  {%- if prefix_list %}
  neighbor {{ neighbor }} prefix-list deny-default-route in
  {%- endif %}
  {%- endif %}
  neighbor {{ neighbor }} activate
{%- endmacro -%}
