{%- macro get_interface_ip_first(vrf, ip_net4, ip_net6) -%}
 {%- if vrf is not none -%}
 vrf forwarding {{ vrf }}
 {%- endif -%}
 {{ get_first_ip(ip_net4) }}
 {%- if ip_net6 is not none %}
 {{ get_first_ip(ip_net6) }}
 ipv6 pim bfd
 {%- endif %}
 {% include 'includes/l3_interface.j2' %}
{%- endmacro -%}

{%- macro get_interface_ip_last(vrf, ip_net4, ip_net6) -%}
 {%- if vrf is not none -%}
 vrf forwarding {{ vrf }}
 {%- endif -%}
 {{ get_last_ip(ip_net4) }}
 {%- if ip_net6 is not none %}
 {{ get_last_ip(ip_net6) }}
 ipv6 pim bfd
 {%- endif %}
 {% include 'includes/l3_interface.j2' %}
{%- endmacro -%}

{%- macro get_first_ip(ip_net) -%}
 {%- if ip_net|ip_version == 6 -%}
 ipv6 address {{ ip_net | first_ip_prefix }}
 {%- else %}
 ip address {{ ip_net | first_ip }} {{ ip_net | netmask }}
 {%- endif %}
{%- endmacro -%}

{%- macro get_last_ip(ip_net) -%}
 {%- if ip_net|ip_version == 6 -%}
 ipv6 address {{ ip_net | last_ip_prefix }}
 {%- else %}
 ip address {{ ip_net | last_ip }} {{ ip_net | netmask }}
 {%- endif %}
{%- endmacro -%}

{%- macro bgp_neighbor_first_ip(linknet, asn, description, update_source, prefix_list) -%}
 {{ bgp_neighbor(linknet, asn, description, update_source, prefix_list, linknet | first_ip ) }}
{%- endmacro -%}

{%- macro bgp_neighbor_last_ip(linknet, asn, description, update_source, prefix_list) -%}
 {{ bgp_neighbor(linknet, asn, description, update_source, prefix_list, linknet | last_ip ) }}
{%- endmacro -%}

{%- macro bgp_neighbor_first_ip(linknet4, linknet6, vrf, asn, update_source, deny_default, description, bgp_paths, desc_and_inherit_only=false) -%}
 {{ bgp_neighbor(linknet4, linknet6, vrf, asn, update_source, deny_default, description, bgp_paths, desc_and_inherit_only, first_ip=true) }}
{%- endmacro -%}

{%- macro bgp_neighbor_last_ip(linknet4, linknet6, vrf, asn, update_source, deny_default, description, bgp_paths, desc_and_inherit_only=false) -%}
 {{ bgp_neighbor(linknet4, linknet6, vrf, asn, update_source, deny_default, description, bgp_paths, desc_and_inherit_only, first_ip=false) }}
{%- endmacro -%}

{%- macro bgp_neighbor(linknet4, linknet6, vrf, asn, update_source, deny_default, description, bgp_paths, desc_and_inherit_only, first_ip) -%}
 {%- if vrf is not none -%}
 address-family ipv4 vrf {{ vrf }}
 {%- else %}
 address-family ipv4
 {%- endif -%}
  {{ bgp_neighbor_info(linknet4, asn, description, update_source, deny_default, bgp_paths, desc_and_inherit_only, first_ip) }}
 exit-address-family
 {%- if linknet6 is not none %}
 {%- if vrf is not none %}
 address-family ipv6 vrf {{ vrf }}
 {%- else %}
 address-family ipv6
 {%- endif -%}
  {{ bgp_neighbor_info(linknet6, asn, description, update_source, deny_default, bgp_paths, desc_and_inherit_only, first_ip) }}
 exit-address-family
 {% endif %}
{%- endmacro -%}

{%- macro bgp_neighbor_info(linknet, asn, description, update_source, deny_default, bgp_paths, desc_and_inherit_only, first_ip) -%}
 {%- if first_ip %}
 {%- set neighbor = linknet | first_ip %}
 {%- else %}
 {%- set neighbor = linknet | last_ip %}
 {%- endif %}
  maximum-paths {{ bgp_paths }}
  neighbor {{ neighbor }} inherit peer-session BGP-SDA
  neighbor {{ neighbor }} description {{ description }}
  {%- if not desc_and_inherit_only %}
  {%- if linknet|ip_version == 6 %}
  !
  network {{ linknet }}
  {%- else %}
  network {{ linknet | network }} mask {{ linknet | netmask }}
  {%- endif %}
  !
  neighbor {{ neighbor }} remote-as {{ asn }}
  neighbor {{ neighbor }} update-source {{ update_source }}
  {%- if deny_default %}
  neighbor {{ neighbor }} prefix-list deny-default-route in
  {%- endif %}
  neighbor {{ neighbor }} activate
  {%- endif %}
{%- endmacro -%}

{%- macro bgp_neighbor_iptransit_first_ip(linknet4, linknet6, vrf, description, bgp_paths) -%}
 {{ bgp_neighbor_first_ip(linknet4, linknet6, vrf, asn|default(none), update_source|default(none), deny_default|default(false), description, bgp_paths, desc_and_inherit_only=true) }}
{%- endmacro -%}

{%- macro bgp_neighbor_iptransit_last_ip(linknet4, linknet6, vrf, description, bgp_paths) -%}
 {{ bgp_neighbor_last_ip(linknet4, linknet6, vrf, asn|default(none), update_source|default(none), deny_default|default(false), description, bgp_paths, desc_and_inherit_only=true) }}
{%- endmacro -%}

{%- macro get_vrf(vrf_primary, vrf_secondary, border=false, grt_as_null=false) -%}
{%- set none_value = none -%}
{%- set grt = 'GRT' -%}
{%- if vrf_secondary == 'INFRA_VN' -%}
{%- if border -%}
{%- if grt_as_null -%}
{# (vrf_primary=none, vrf_secondary=INFRA_VN, border=true, grt_as_null=true) == none #}
{{- none_value -}}
{%- else -%}
{# (vrf_primary=none, vrf_secondary=INFRA_VN, border=true, grt_as_null=false) == INFRA_VN #}
{{- vrf_secondary -}}
{%- endif -%}
{%- else -%}
{%- if grt_as_null -%}
{# (vrf_primary=none, vrf_secondary=INFRA_VN, border=false, grt_as_null=true) == none #}
{{- vrf_primary | default(none_value) -}}
{%- else -%}
{# (vrf_primary=none, vrf_secondary=INFRA_VN, border=false, grt_as_null=false) == GRT #}
{{- vrf_primary | default(grt) -}}
{%- endif -%}
{%- endif -%}
{%- else -%}
{%- if border -%}
{# (vrf_primary=foo, vrf_secondary=foobar, border=true, grt_as_null={true|false}) == foobar #}
{{- vrf_secondary -}}
{%- else -%}
{# (vrf_primary=foo, vrf_secondary=foobar, border=false, grt_as_null={true|false}) == foo #}
{{- vrf_primary | default(vrf_secondary) -}}
{%- endif -%}
{%- endif -%}
{%- endmacro -%}
