{%- import 'macros.j2' as macros %}
{%- set local_config = config.tcn[local] %}
! SDA {{ local }}
! {{ local_config.hostname }}

hostname {{ local_config.hostname }}
ip domain name {{ config.global.domain }}
snmp-server location {{ local_config.snmp_location }}
!
{% include 'includes/vtp.j2' %}
!

! Linknet to FUSION1
interface {{ local_config.interfaces.fusion1.port }}
 description link; {{ config.fusion.fusion1.hostname }}; {{ config.fusion.fusion1.interfaces[local].port }}; {{ config.fusion.fusion1.interfaces[local].vrf | default('GRT') }}
 no switchport
 {{ macros.get_interface_ip_last(
  local_config.interfaces.fusion1.vrf | default(none),
  config.fusion.fusion1.interfaces[local].linknet4,
  config.fusion.fusion1.interfaces[local].linknet6 | default(none)
 )}}
!

! Linknet to FUSION2
interface {{ local_config.interfaces.fusion2.port }}
 description link; {{ config.fusion.fusion2.hostname }}; {{ config.fusion.fusion2.interfaces[local].port }}; {{ config.fusion.fusion2.interfaces[local].vrf | default('GRT') }}
 no switchport
 {{ macros.get_interface_ip_last(
  local_config.interfaces.fusion2.vrf | default(none),
  config.fusion.fusion2.interfaces[local].linknet4,
  config.fusion.fusion2.interfaces[local].linknet6 | default(none)
 )}}
!

! Loopback
interface Lo0
 ip address {{ local_config.ipv4 }} 255.255.255.255
 {%- if local_config.ipv6 is defined %}
 ipv6 address {{ local_config.ipv6 }}/128
 {%- endif %}
 no shutdown
 ip pim sparse-mode
!
{% include 'includes/common.j2' %}
!
router bgp {{ local_config.asn }}
{% include 'includes/bgp_common.j2' %}
 !
{% include 'includes/bgp_template.j2' %}
 !
 address-family ipv4
  maximum-paths {{ config.global.bgp_paths }}
  network {{ local_config.ipv4 }} mask 255.255.255.255
 exit-address-family
 {%- if local_config.ipv6 is defined %}
 address-family ipv6
  maximum-paths {{ config.global.bgp_paths }}
  network {{ local_config.ipv6 }}/128
 exit-address-family
 {%- endif %}
 !
 ! FUSION1
 {{ macros.bgp_neighbor_first_ip(
   config.fusion.fusion1.interfaces[local].linknet4,
   config.fusion.fusion1.interfaces[local].linknet6 | default(none),
   no_vrf | default(none),
   config.fusion.asn,
   local_config.interfaces.fusion1.port,
   deny_default | default(false),
   "eBGP to FUSION1; " + config.fusion.fusion1.hostname + "; " + config.fusion.fusion1.interfaces[local].port + "; " + config.fusion.fusion1.interfaces[local].vrf | default('GRT'),
   config.global.bgp_paths
 )}}
 !
 ! FUSION2
 {{ macros.bgp_neighbor_first_ip(
   config.fusion.fusion2.interfaces[local].linknet4,
   config.fusion.fusion2.interfaces[local].linknet6 | default(none),
   no_vrf | default(none),
   config.fusion.asn,
   local_config.interfaces.fusion2.port,
   deny_default | default(false),
   "eBGP to FUSION2; " + config.fusion.fusion2.hostname + "; " + config.fusion.fusion2.interfaces[local].port + "; " + config.fusion.fusion2.interfaces[local].vrf | default('GRT'),
   config.global.bgp_paths
 )}}
 !
!
