{%- import 'macros.j2' as macros %}
{%- set local_config = config.tcn[local] %}
! SDA {{ local }}
! {{ local_config.hostname }}

hostname {{ local_config.hostname }}
ip domain name {{ config.global.domain }}
snmp-server location {{ local_config.snmp_location }}
!
{% include 'includes/vtp.j2' %}
!

! Linknet to FUSION1
interface {{ local_config.interfaces.fusion1.port }}
 description link; {{ config.fusion.fusion1.hostname }}; {{ config.fusion.fusion1.interfaces[local].port }}
 no switchport
 {{ macros.get_last_ip(config.fusion.fusion1.interfaces[local].linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Linknet to FUSION2
interface {{ local_config.interfaces.fusion2.port }}
 description link; {{ config.fusion.fusion2.hostname }}; {{ config.fusion.fusion2.interfaces[local].port }}
 no switchport
 {{ macros.get_last_ip(config.fusion.fusion2.interfaces[local].linknet) }}
{% include 'includes/l3_interface.j2' %}
!

! Loopback
interface Lo0
 ip address {{ local_config.ip }} 255.255.255.255
 no shutdown
 ip pim sparse-mode
!
{% include 'includes/common.j2' %}
!
router bgp {{ local_config.asn }}
{% include 'includes/bgp_common.j2' %}
 !
{% include 'includes/bgp_template.j2' %}
 !
 address-family ipv4
  network {{ local_config.ip }} mask 255.255.255.255
  !
  ! FUSION1
  {{ macros.bgp_neighbor_first_ip(
    config.fusion.fusion1.interfaces[local].linknet,
    config.fusion.asn,
    "eBGP to FUSION1; " + config.fusion.fusion1.hostname + "; " + config.fusion.fusion1.interfaces[local].port + "; " + config.fusion.fusion1.interfaces[local].vrf,
    local_config.interfaces.fusion1.port,
    prefix_list=false
  )}}
  !
  ! FUSION2
  {{ macros.bgp_neighbor_first_ip(
    config.fusion.fusion2.interfaces[local].linknet,
    config.fusion.asn,
    "eBGP to FUSION2; " + config.fusion.fusion2.hostname + "; " + config.fusion.fusion2.interfaces[local].port + "; " + config.fusion.fusion2.interfaces[local].vrf,
    local_config.interfaces.fusion2.port,
    prefix_list=false
  )}}
 !
 exit-address-family
!
