global:
  domain: foobar.com
  enable_secret: supersecret
  bgp_password: bgp-iz-kool
  bgp_paths: '4'
  isis_password: isis-baby
  users:
    admin: zeeeecret
  snmp:
    user: snmp_user
    auth: 01234
    priv: 56789

fusion:
  asn: 65000
  fusion1:
    hostname: fusion1
    interfaces:
      fexit1:
        port: Fo1/0/1
        tag: '200'
        linknet4: 10.10.11.0/31
      fexit2:
        port: Fo1/0/2
        tag: '200'
        linknet4: 10.10.12.0/31
      tcn1:
        port: Fo1/0/3
        linknet4: 10.10.13.0/31
      tcn2:
        port: Fo1/0/4
        linknet4: 10.10.14.0/31
  fusion2:
    hostname: fusion2
    interfaces:
      fexit1:
        port: Fo1/0/1
        tag: '300'
        linknet4: 10.11.11.0/31
      fexit2:
        port: Fo1/0/2
        tag: '300'
        linknet4: 10.11.12.0/31
      tcn1:
        port: Fo1/0/3
        linknet4: 10.11.13.0/31
      tcn2:
        port: Fo1/0/4
        linknet4: 10.11.14.0/31

tcn:
  tcn1:
    hostname: tcn1
    snmp_location: 'secret lair'
    ipv4: '10.12.12.0'
    asn: '65001'
    interfaces:
      fusion1:
        port: Fo1/1/1
      fusion2:
        port: Fo1/1/2
  tcn2:
    hostname: tcn2
    snmp_location: 'secret lair'
    ipv4: '10.13.13.0'
    asn: '65002'
    interfaces:
      fusion1:
        port: Fo1/1/1
      fusion2:
        port: Fo1/1/2

fexit:
  asn: '65003'
  fexit1:
    hostname: fexit1
    snmp_location: 'ultra secret lair'
    ipv4: '10.13.13.0'
    interfaces:
      fusion1: &fusion1
        port: Fo1/0/1
        native: '999'
        allowed: 200-299
      fusion2: &fusion2
        port: Fo1/0/2
        native: '999'
        allowed: 300-399
      fexit: &fexit
        port1:
          port:
            fexit1: Fo1/0/3
            fexit2: Fo1/0/3
          linknet4: 10.13.1.0/31
        port2:
          port:
            fexit1: Fo1/0/4
            fexit2: Fo1/0/4
          linknet4: 10.13.2.0/31
      fs1a:
        port: Fo1/0/5
        linknet4: 10.13.3.0/31
      fs1b:
        port: Fo1/0/6
        linknet4: 10.13.4.0/31
  fexit2:
    hostname: fexit2
    snmp_location: 'ultra secret lair'
    ipv4: '10.14.14.0'
    interfaces:
      fusion1:
        <<: *fusion1
        port: Fo1/0/1
      fusion2:
        <<: *fusion2
        port: Fo1/0/2
      fexit:
        <<: *fexit
      fs1a:
        port: Fo1/0/4
        linknet4: 10.14.1.0/31
      fs1b:
        port: Fo1/0/5
        linknet4: 10.14.2.0/31

fs:
  asn: '65004'
  fs1a:
    hostname: fs1a
    snmp_location: 'omegalulz secret'
    ipv4: '10.15.15.0'
    interfaces:
      fexit1:
        port: Fo1/0/1
      fexit2:
        port: Fo2/0/1
      fs: &fs
        port: Fo1/0/2
        linknet4: 10.15.1.0/31
  fs1b:
    hostname: fs1b
    snmp_location: 'omegalulz secret'
    ipv4: '10.16.16.0'
    interfaces:
      fexit1:
        port: Fo1/0/1
      fexit2:
        port: Fo2/0/1
      fs:
        <<: *fs
        port: Fo1/0/2

iptransit:
  fexit1:
    fusion1:
      INFRA_VN:
        tag: '401'
        linknet4: 10.99.10.0/30
      fallback:
        tag: '402'
        linknet4: 10.99.10.4/30
        vrf: fallback_vrf
      guest:
        tag: '403'
        linknet4: 10.99.10.8/30
        vrf: guest_vrf
      iot:
        tag: '404'
        linknet4: 10.99.10.12/30
    fusion2:
      INFRA_VN:
        tag: '501'
        linknet4: 10.99.10.16/30
      fallback:
        tag: '502'
        linknet4: 10.99.10.20/30
        vrf: fallback_vrf
      guest:
        tag: '503'
        linknet4: 10.99.10.24/30
        vrf: guest_vrf
      iot:
        tag: '504'
        linknet4: 10.99.10.28/30
  fexit2:
    fusion1:
      INFRA_VN:
        tag: '401'
        linknet4: 10.99.20.0/30
      fallback:
        tag: '402'
        linknet4: 10.99.20.4/30
        vrf: fallback_vrf
      guest:
        tag: '403'
        linknet4: 10.99.20.8/30
        vrf: guest_vrf
      iot:
        tag: '404'
        linknet4: 10.99.20.12/30
    fusion2:
      INFRA_VN:
        tag: '501'
        linknet4: 10.99.20.16/30
      fallback:
        tag: '502'
        linknet4: 10.99.20.20/30
        vrf: fallback_vrf
      guest:
        tag: '503'
        linknet4: 19.99.20.24/30
        vrf: guest_vrf
      iot:
        tag: '504'
        linknet4: 10.99.20.28/30
