global:
  domain: foobar.com
  enable_secret: supersecret
  bfd:
    profile: foobar-default
    multiplier: '3'
    tx_interval: '500'
    rx_interval: '500'
  bgp:
    password: bgp-iz-kool
    paths: '4'
  isis_password: isis-baby
  users:
    admin: zeeeecret
  snmp:
    user: snmp_user
    auth: 01234
    priv: 56789

fusion:
  asn: 65000
  fusion1:
    hostname: fusion1
    ipv4: '10.10.0.0'
    ipv6: 'fd00::10:10::'
    interfaces:
      fusion: &fusion
        port1:
          port:
            fusion1: Fo2/0/1
            fusion2: Fo2/0/2
        port2:
          port:
            fusion1: Fo2/0/1
            fusion2: Fo2/0/2
      fexit1:
        port: Fo1/0/1
        tag: '200'
        vrf: mgmt_vrf
        linknet4: 10.10.11.0/31
        linknet6: fd00::10:10:11:0/127
      fexit2:
        port: Fo1/0/2
        tag: '200'
        vrf: mgmt_vrf
        linknet4: 10.10.12.0/31
        linknet6: fd00::10:10:12:0/127
      tcn1:
        port: Fo1/0/3
        vrf: mgmt_vrf
        linknet4: 10.10.13.0/31
        linknet6: fd00::10:10:13:0/127        
      tcn2:
        port: Fo1/0/4
        vrf: mgmt_vrf
        linknet4: 10.10.14.0/31
        linknet6: fd00::10:10:14:0/127
      fw1:
        port: Fo2/0/3
        native: '2001'
      fw2:
        port: Fo2/0/4
        native: '2001'
  fusion2:
    hostname: fusion2
    ipv4: '10.11.0.0'
    ipv6: 'fd00::10:11::'
    interfaces:
      fusion:
        <<: *fusion
      fexit1:
        port: Fo1/0/1
        tag: '300'
        vrf: mgmt_vrf
        linknet4: 10.11.11.0/31
        linknet6: fd00::10:11:11:0/127
      fexit2:
        port: Fo1/0/2
        tag: '300'
        vrf: mgmt_vrf
        linknet4: 10.11.12.0/31
        linknet6: fd00::10:11:12:0/127
      tcn1:
        port: Fo1/0/3
        vrf: mgmt_vrf
        linknet4: 10.11.13.0/31
        linknet6: fd00::10:11:13:0/127
      tcn2:
        port: Fo1/0/4
        vrf: mgmt_vrf
        linknet4: 10.11.14.0/31
        linknet6: fd00::10:11:14:0/127
      fw1:
        port: Fo2/0/3
        native: '2002'
      fw2:
        port: Fo2/0/4
        native: '2002'

fw:
  asn: 64777
  ipv4: '10.39.0.1'
  ipv6: 'fd00::10:39::1'
  vr: default
  zone_profile: zp-internal
  mgmt_profile: mgmt-untrust
  bgp_auth_profile: default-bgp
  fw1:
    hostname: firewall1
    interfaces: &fw
      fusion1:
        port: ethernet1/21
      fusion2:
        port: ethernet1/22
  fw2:
    hostname: firewall2
    interfaces:
      <<: *fw

tcn:
  tcn1:
    hostname: tcn1
    snmp_location: 'secret lair'
    ipv4: '10.12.12.0'
    ipv6: 'fd00::10:12:12:0'
    asn: '65001'
    interfaces:
      fusion1:
        port: Fo1/1/1
      fusion2:
        port: Fo1/1/2
  tcn2:
    hostname: tcn2
    snmp_location: 'secret lair'
    ipv4: '10.13.13.0'
    ipv6: 'fd00::10:13:13:0'
    asn: '65002'
    interfaces:
      fusion1:
        port: Fo1/1/1
      fusion2:
        port: Fo1/1/2

fexit:
  asn: '65003'
  fexit1:
    hostname: fexit1
    snmp_location: 'ultra secret lair'
    ipv4: '10.14.14.0'
    ipv6: 'fd00::10:14:14:0'
    interfaces:
      fusion1: &fusion1
        port: Fo1/0/1
        native: '999'
      fusion2: &fusion2
        port: Fo1/0/2
        native: '999'
      fexit: &fexit
        port1:
          port:
            fexit1: Fo1/0/3
            fexit2: Fo1/0/3
          linknet4: 10.14.1.0/31
          linknet6: fd00::10:14:1:0/127
        port2:
          port:
            fexit1: Fo1/0/4
            fexit2: Fo1/0/4
          linknet4: 10.14.2.0/31
          linknet6: fd00::10:14:2:0/127
      fs1a:
        port: Fo1/0/5
        linknet4: 10.14.3.0/31
      fs1b:
        port: Fo1/0/6
        linknet4: 10.14.4.0/31
      fs2a:
        port: Fo1/0/7
        linknet4: 10.14.5.0/31
      fs2b:
        port: Fo1/0/8
        linknet4: 10.14.6.0/31
  fexit2:
    hostname: fexit2
    snmp_location: 'ultra secret lair'
    ipv4: '10.15.15.0'
    ipv6: 'fd00::10:15:15:0'
    interfaces:
      fusion1:
        <<: *fusion1
        port: Fo1/0/1
      fusion2:
        <<: *fusion2
        port: Fo1/0/2
      fexit:
        <<: *fexit
      fs1a:
        port: Fo1/0/4
        linknet4: 10.15.1.0/31
      fs1b:
        port: Fo1/0/5
        linknet4: 10.15.2.0/31
      fs2a:
        port: Fo1/0/6
        linknet4: 10.15.1.0/31
      fs2b:
        port: Fo1/0/7
        linknet4: 10.15.2.0/31

fs1:
  asn: '65004'
  fs1a:
    hostname: fs1a
    snmp_location: 'omegalulz secret'
    ipv4: '10.15.15.0'
    interfaces:
      fexit1:
        port: Fo1/0/1
      fexit2:
        port: Fo2/0/1
      fs: &fs1
        port1:
          port:
            fs1a: Fo1/0/2
            fs1b: Fo2/0/2
          linknet4: 10.15.1.0/31
        port2:
          port:
            fs1a: Fo1/0/2
            fs1b: Fo2/0/2
          linknet4: 10.15.2.0/31
  fs1b:
    hostname: fs1b
    snmp_location: 'omegalulz secret'
    ipv4: '10.16.16.0'
    interfaces:
      fexit1:
        port: Fo1/0/1
      fexit2:
        port: Fo2/0/1
      fs:
        <<: *fs1

fs2:
  asn: '65005'
  fs2a:
    hostname: fs2a
    snmp_location: 'omegalulz secret'
    ipv4: '10.17.17.0'
    interfaces:
      fexit1:
        port: Fo1/0/1
      fexit2:
        port: Fo2/0/1
      fs: &fs2
        port1:
          port:
            fs2a: Fo1/0/2
            fs2b: Fo2/0/2
          linknet4: 10.17.1.0/31
        port2:
          port:
            fs2a: Fo1/0/2
            fs2b: Fo2/0/2
          linknet4: 10.17.2.0/31
  fs2b:
    hostname: fs2b
    snmp_location: 'omegalulz secret'
    ipv4: '10.16.16.0'
    interfaces:
      fexit1:
        port: Fo1/0/1
      fexit2:
        port: Fo2/0/1
      fs:
        <<: *fs2

iptransit:
  fexit1:
    fusion1:
      INFRA_VN:
        tag: '401'
        linknet4: 10.99.10.0/30
        linknet6: fd00::10:99:10:0/126
      fallback:
        tag: '402'
        linknet4: 10.99.10.4/30
        linknet6: fd00::10:99:10:4/126
        vrf: fallback_vrf
      guest:
        tag: '403'
        linknet4: 10.99.10.8/30
        linknet6: fd00::10:99:10:8/126
        vrf: guest_vrf
      iot:
        tag: '404'
        linknet4: 10.99.10.12/30
        linknet6: fd00::10:99:10:c/126
    fusion2:
      INFRA_VN:
        tag: '501'
        linknet4: 10.99.10.16/30
        linknet6: fd00::10:99:10:10/126
      fallback:
        tag: '502'
        linknet4: 10.99.10.20/30
        linknet6: fd00::10:99:10:14/126
        vrf: fallback_vrf
      guest:
        tag: '503'
        linknet4: 10.99.10.24/30
        linknet6: fd00::10:99:10:18/126
        vrf: guest_vrf
      iot:
        tag: '504'
        linknet4: 10.99.10.28/30
        linknet6: fd00::10:99:10:1c/126
  fexit2:
    fusion1:
      INFRA_VN:
        tag: '401'
        linknet4: 10.99.20.0/30
        linknet6: fd00::10:99:20:0/126
      fallback:
        tag: '402'
        linknet4: 10.99.20.4/30
        linknet6: fd00::10:99:20:4/126
        vrf: fallback_vrf
      guest:
        tag: '403'
        linknet4: 10.99.20.8/30
        linknet6: fd00::10:99:20:8/126
        vrf: guest_vrf
      iot:
        tag: '404'
        linknet4: 10.99.20.12/30
        linknet6: fd00::10:99:20:c/126
    fusion2:
      INFRA_VN:
        tag: '501'
        linknet4: 10.99.20.16/30
        linknet6: fd00::10:99:20:10/126
      fallback:
        tag: '502'
        linknet4: 10.99.20.20/30
        linknet6: fd00::10:99:20:14/126
        vrf: fallback_vrf
      guest:
        tag: '503'
        linknet4: 19.99.20.24/30
        linknet6: fd00::10:99:20:18/126
        vrf: guest_vrf
      iot:
        tag: '504'
        linknet4: 10.99.20.28/30
        linknet6: fd00::10:99:20:1c/126

fwtransit:
  fusion1:
    mgmt:
      tag: '401'
      linknet4: 10.88.10.0/30
      linknet6: fd00::10:88:10:0/126
    fallback:
      tag: '402'
      linknet4: 10.88.10.4/30
      linknet6: fd00::10:88:10:4/126
      vrf: fallback_vrf
    guest:
      tag: '403'
      linknet4: 10.88.10.8/30
      linknet6: fd00::10:88:10:8/126
      vrf: guest_vrf
    iot:
      tag: '404'
      linknet4: 10.88.10.12/30
      linknet6: fd00::10:88:10:c/126
  fusion2:
    mgmt:
      tag: '501'
      linknet4: 10.77.10.0/30
      linknet6: fd00::10:77:10:0/126
    fallback:
      tag: '502'
      linknet4: 10.77.10.4/30
      linknet6: fd00::10:77:10:4/126
      vrf: fallback_vrf
    guest:
      tag: '503'
      linknet4: 10.77.10.8/30
      linknet6: fd00::10:77:10:8/126
      vrf: guest_vrf
    iot:
      tag: '504'
      linknet4: 10.77.10.12/30
      linknet6: fd00::10:77:10:c/126

fusiontransit:
  port1:
    mgmt:
      tag: '401'
      linknet4: 10.66.10.0/30
      linknet6: fd00::10:66:10:0/126
    fallback:
      tag: '402'
      linknet4: 10.66.10.4/30
      linknet6: fd00::10:66:10:4/126
      vrf: fallback_vrf
    guest:
      tag: '403'
      linknet4: 10.66.10.8/30
      linknet6: fd00::10:66:10:8/126
      vrf: guest_vrf
    iot:
      tag: '404'
      linknet4: 10.66.10.12/30
      linknet6: fd00::10:66:10:c/126
  port2:
    mgmt:
      tag: '401'
      linknet4: 10.55.10.0/30
      linknet6: fd00::10:55:10:0/126
    fallback:
      tag: '402'
      linknet4: 10.55.10.4/30
      linknet6: fd00::10:55:10:4/126
      vrf: fallback_vrf
    guest:
      tag: '403'
      linknet4: 10.55.10.8/30
      linknet6: fd00::10:55:10:8/126
      vrf: guest_vrf
    iot:
      tag: '404'
      linknet4: 10.55.10.12/30
      linknet6: fd00::10:55:10:c/126
